[build-system]
requires = ["wheel", "setuptools>=42", "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/hist/version.py"

[tool.pytest.ini_options]
minverison = "6.0"
addopts = "-ra -Wd --strict-markers"
xfail_strict = true
testpaths = ["tests"]
required_plugins = ["pytest-mpl"]
log_cli_level = "DEBUG"


[tool.nbqa.mutate]
black = 1
pyupgrade = 1

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.check-manifest]
ignore = [
    ".pre-commit-config.yaml",
    ".readthedocs.yml",
    "examples/**",
    "notebooks/**",
    "docs/**",
    "CONTRIBUTING.md",
    "*.html",
    "*.in",
    "*.json",
    "*.yml",
    "src/hist/version.py",
    "tests/.pytest_cache/**",
    ".all-contributorsrc",
    "noxfile.py",
]


[tool.mypy]
warn_unused_configs = true
files = "src"
python_version = "3.6"
disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
no_implicit_reexport = true
strict_equality = true

[[tool.mypy.overrides]]
module = [
    "histoprint.*",
    "scipy.optimize.*",
    "uncertainties.*",
    "matplotlib.*",
    "scipy.*",
    "iminuit.*",
    "mplhep.*",
    "hist.version",
]
ignore_missing_imports = true
