name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  FORCE_COLOR: 3

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args: --hook-stage manual check-manifest
    - name: PyLint
      run: |
        echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
        pipx run nox -s pylint

  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - "3.7"
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11-dev"
    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Requirements check
      run: python -m pip list

    - name: Install package
      run: python -m pip install -e ".[test]"

    - name: Test package
      run: python -m pytest

    - name: Install plotting requirements too
      if: matrix.python-version != '3.10'
      run: python -m pip install -e ".[test,plot]"

    - name: Test plotting too
      if: matrix.python-version != '3.10'
      run: python -m pytest --mpl
