name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.0
      with:
        extra_args: --hook-stage manual

  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - 3.6
        - 3.8
    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Requirements check
      run: python -m pip list

    - name: Install package
      run: python -m pip install -e ".[test]"

    - name: Test package
      run: python -m pytest

    - name: Install plotting requirements too
      run: python -m pip install -e ".[test,plot]"

    - name: Test plotting too
      run: python -m pytest
